
    <header>           

        <a href="/"><img src="/img/logo_economize.jpg" alt=""></a>
        <nav>
            <ul>
                <li><a href="/quemsomos">Quem somos</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/depoimentos">Depoimentos</a></li>                            
                <button onclick="location.href='/login'" type="button" id="fundo-azul">Comece Agora</button>
            </ul> 
        </nav>               
    </header>