<!DOCTYPE html>
<html lang='pt-BR'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='./stylesheets/login.css'>
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@100&display=swap" rel="stylesheet">
    <title>Economize+ | Home</title>
</head>
<body>

    <%- include('./partials/_header') %> 

    <main>
        <section>
            <h1>Não sabe para onde seu dinheiro está indo? Conheça a Economize+</h1>
        </section>

        <section class="">

            <img class="img-hero" src="/img/controle-financeiro.jpg" alt="">
        </section>

        <article>
            <section>
                <div>                
                <img src="img/budget 1.png" alt="">
                </div>
                <p>50% da população brasileira não controla seu dinheiro</p>
            </section>

            <section>
                <div>                
                <img src="img/leverage 1.png" alt="">
                </div>
                <p>O economize+ vem pra facilitar sua vida com o dinheiro</p>
            </section>

            <section>
                <div>                
                <img src="img/power 1.png" alt="">
                </div>
                <p>Se você não sabe por onde começar, clique em comece agora e vamos ajudar</p>
            </section>
            </article>
    </main>

    <footer>

    </footer>

</body>
</html>