<!DOCTYPE html>
<html lang='pt-BR'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/stylesheets/login.css'>
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@100&display=swap" rel="stylesheet">
    <title>Economize+ | Recuperar Senha</title>
</head>
<body>
    
    <%- include('./partials/_header') %> 

    <main class="main-login">
        <div class="border-right">
            <img src="/img/xcomo-controlar-a-ansiedade.png.pagespeed.ic 1.png" alt="">
        </div>
            <div class="div-login">
            <div class="div-avatar">
                <img src="/img/user (1) 1.png" alt="">
            </div>

            <form class="form-flex" action="">
                <div class="div-separaLogin1">

                    <div>
                        <h3 id="pad-bottom">Recuperar minha senha</h3>
                        <p id="p-fsize">Esqueceu sua senha? Não se preocupe. É só nos dizer seu e-mail que enviaremos um link
                            e um código de acesso para você cadastrar uma nova senha.
                        </p>
                    </div>

                    <div class="div-separaLogin1">
                        <label for="email">Email</label>                
                        <input class="input-size" type="email" name="email" placeholder="Informe o E-mail" required>
                    </div>
                </div>
                
                <button id="fundo-azul" class="input-size btn-font" type="submit">Recuperar minha senha</button>

            </form>
        </div>
    </main>
</body>
</html>

<a href=""></a>