<!DOCTYPE html>
<html lang='pt-BR'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/stylesheets/notFound.css'>
    <title>Economize+ | Not Found </title>
</head>
<body>
<h1>Ops, página não encontrada!</h1>
<div class="div-1">
    <img src="/img/1-rico.jpg" alt="">
</div>
<div id="div-links">
    <h1>Alguns links que podem ser úteis:</h1>
    <div >
        <li class="div-container">
            <ul><a href="/">Home</a></ul>
            <ul><a href="/login">Login</a></ul>
            <ul><a href="/cadastro">Cadastro</a></ul>
        </li>
    </div>
</div>
</body>
</html>