<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/objetivos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@100&display=swap"
      rel="stylesheet"
    />
    <title>Cadastro de Objetivos</title>
</head>
<body>
    <div class="container-master">
        <%- include('./partials/menuLateral') %>
       <div id= "container">
        <div id="container-form">
            <div style="text-align: center; margin-bottom: 18px;">
                <h1>Cadastro de Objetivos</h1>
            </div>
            <div id="cartoes-form">
                <form action="/index/objetivos" method="POST">
                    <div class="input-cartoes">
                    <label class= "label" for="objetivo">Objetivo</label>
                    <br>
                    <input class="input" type="text" id="cartao-nome" name="cartao-nome" placeholder="Exemplo: Viagem Exterior" required/>
                    </div>
                    <br>
                    <div class="input-cartoes">
                        <label class="label" for="limite">Alvo</label>
                        <br>
                        <input class="input" type="text" id="limite" name="limite" placeholder="Exemplo: R$ 3000,00" required/>
                    </div>
                    <br>
                    <div class="input-cartoes">
                        <label class="label" for="data-pagamento">Data Alvo</label>
                        <br>
                        <input class="input" type="date" id="data-pagamento" name="data-pagamento" placeholder="data de pagamento"  />
                    </div>
                    <br>
                    <div id="button">
                    <button type="submit" id="fundo-azul">Cadastrar</button>   
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>