* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    /* text-decoration: none; */
}

body {
    background-color: #F7BE27;   
    height: 100vh;
    width: 100vw;
}

.div-1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

h1 {
display: flex;
margin-top: 50px;
justify-content: center;
}

#div-links {
    display: flex;
    flex-direction: column;   
    
}

.div-container {
    display: flex;
    margin-top: 50px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: space-evenly;
}