* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #EFEFEF;   
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

h2 {
    font-size: 20px;
}


.modal-static {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
}

.loginModal-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    margin-left: 10px;
}

.userInformation2 {
    display: flex;
    flex-direction: column;    
    margin-left: 10px;
}

.info-static {
    margin-left: 20px;
}

.navstyle{
    display: none;
}

