* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #EFEFEF;   
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

h2 {
    font-size: 20px;
}

.columnOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    background-color: #E5E5E5;
    font-weight: bold;
    font-size: 14px;
}

.menuItem:hover {
    background-color: #5CBA9B;
    transition: 0.5s;
}

.menuText {
    font-size: 14px;
    margin-left: 18px;
    text-align: left;
}

.navstyle {
    display: none;
}