* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #EFEFEF;   
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}


.container-master{
    display: flex;
    flex-direction: row;
    background-color: #E5E5E5;
    width: 100vw;
}

.columnOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    background-color: #E5E5E5;
    font-weight: bold;
    font-size: 14px;
}

.menuItem:hover:not(.menuItem-active) {
    background-color: #5CBA9B;
    transition: 0.5s;
}

.menuItem-active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    background-color: #976EB0;
}

.menuText {
    font-size: 14px;
    margin-left: 18px;
    text-align: left;
}
.columnTwo {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-top: 35px; 
    
}

.margin-resumo {
    margin-bottom: 40px;
    margin-left: 45px; 
}

.margin-historico {
    margin-bottom: 20px;
}

.transactionHistory {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    margin-top: 0px;
    padding: 20px 24px;
    height: 430px;
}

.paymentHistory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    font-size: 16px;
    height: 100%;
    
}

.itensColumnTransaction{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.itemAlign {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.itemText {
    margin-left: 5px;
}

/* .chart {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 350px;
    width: 100%;
} */

.columnThree {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100vh;
}

.welcomeModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.modal-row {
    display: flex;
    margin-top: 50px;
    margin-bottom: 38px;
    width: 100%;
    margin-right: 44px;
    justify-content: flex-end;
    align-items: center;
    
}

.loginModal {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    margin-left: 10px;
}

.userInformation {
    display: flex;
    flex-direction: column;    
    margin-left: 10px;
}

.chart-column {
    display: flex;
    width: 100%;
    height: 378px;
}

.chart-img {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.img-columnthree {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    width: 100%;   
}

#img-1 {
    height: 247px;
}

#img-2 {
    height: 289px;
}

#img-3 {
    height: 258px;
}

.info-padding {
    margin-left: 20px;
}

@media (max-width: 1279px) {
    
} 

@media (max-width: 768px) {
    .columnTwo {
        width: 50%;
        }
} 
    
@media (max-width: 480px) {
    .columnOne {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;     
        align-items: flex-start;      
        /* margin-bottom: 16px; */
        /* position: relative;   */   
    }

    .menuItem {
        padding: 0px 4px;
        margin-bottom: 0px;
        background-color: #EFF7E1;
        border-radius: 55px;
    }

    .menuText {
        margin: 0px;        
    }

    button img {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        background-color: #EFF7E1;
        height: 24px;
        border-radius: 55px;
    }

    .columnTwo {
        width: 100vw;
        margin-top: 16px;
    }

    .margin-resumo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
        margin-left: 0px;
        align-items: center;
    }

    .container-master {
        display: flex;
        flex-direction: column;
    }

    .columnThree {
        width: 100vw;
    }

    .loginModal {
        position: absolute;
        top: 65px;
        right: 40px;
    }

    .img-header {
        display: flex;
        margin-left: 24px;
    }

   .img-columnthree {
       position: absolute;
   }

   .menuItem:hover:not(.menuItem-active) {
    background-color: #5CBA9B;
    transition: 0.5s;
    }

    .menuItem-active {
        background-color: #976EB0;
    }  


} 
