body {
    background-color: #E5E5E5;   
    font-family: 'Roboto', sans-serif;
}


.container-master{
    display: flex;
    flex-direction: row;
    background-color: #E5E5E5;
}

.columnOne {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menuText {
    font-size: 14px;
    margin-left: 5px;
    text-align: left;
}
.columnTwo {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
}

.transactionHistory {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 10px 10px;
    /* height: 100px; */
}

.paymentHistory {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    font-size: 14px;
}

.itensColumnTransaction{
    display: flex;
    flex-direction: column;
}

.itemAlign {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.itemText {
    margin-left: 5px;
}

.chart {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 350px;
}

.columnThree {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
}

.welcomeModal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.loginModal {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.userInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
}